<div id="control-date-container-{{ obj.pk }}-{{ country }}">
    <input type="text"
           id="control-date-{{ obj.pk }}-{{ country }}"
           data-mother-id="{{ obj.pk }}"
           data-mother-country="{{ obj.country }}"
           data-country="{{ country }}"
           class="vDateField"/>

</div>

{##}
{#<div id="control-date-container-{{ obj.pk }}-{{ country }}">#}
{#    <input type="text"#}
{#           id="control-date-{{ obj.pk }}-{{ country }}"#}
{#           data-mother-id="{{ obj.pk }}"#}
{#           data-mother-country="{{ obj.country }}"#}
{#           data-country="{{ country }}"#}
{#           class="vDateField"/>#}
{##}
{#</div>#}









