{% load static %}

<div class="tooltip">
    <div id="inform-card-container-{{ obj.pk }}" class="tooltip_link">
        <!-- Link for pop-up inform card -->
        <a href="#" onclick="toggleTooltip('{{ obj.name }}', event, this)">
            check
        </a>
    </div>

    <div class="tooltip_element">

        <div class="tooltip_content tooltip_additional tooltip_header">
            <div class="tips" data-tooltip-before="Copy control dates to clipboard">
                <img class="copy-deadline" src="{% static 'svg/copy.svg' %}" alt="Copy control dates">
            </div>
            {% if country == "UKR" %}
                <span>Ukraine deadlines</span>
            {% else %}
                <span>Moldova deadlines</span>
            {% endif %}
        </div>

        <div class="tooltip_content tooltip_additional">
            {% if country == "UKR" %}
                <span>Control date UKR:</span>
            {% else %}
                <span>Control date MLD:</span>
            {% endif %}
            <div class="custom_calendar" id="control-date-container-{{ obj.pk }}-{{ country }}"
                 data-mother-id="{{ obj.pk }}"
                 data-mother-country="{{ obj.country }}"
                 data-country="{{ country }}">
                {{ form.control_date }}
            </div>
        </div>


        <div class="tooltip_content tooltip_additional">
            {% if country == "UKR" %}
                <span>Update date UKR:</span>
            {% else %}
                <span>Update date MLD:</span>
            {% endif %}
            <div class="update-date">{{ update_date_ukr }}</div>
        </div>

    </div>
</div>


