myvenv
.env
media
.idea
.gitignore
docker-compose.dev.yml
Dockerfiledev
.github
deploy_sh
docker_gen_ssl

# Python bytecode and cache directories
__pycache__/
*.pyo
*.pyd
.Python

# Ignore all migration files in the schedule/migrations directory
schedule/migrations/*

# But do not ignore the __init__.py file in the schedule/migrations directory
!schedule/migrations/__init__.py


