media
.idea
myvenv
.env

# Python bytecode and cache directories
__pycache__/
*.pyo
*.pyd
.Python

# Ignore all files in the migrations folder
schedule/migrations/*

# But keep the __init__.py file
!schedule/migrations/__init__.py

