#result_list .date {
    padding: 0 !important;
    margin: 0 !important;
}

#result_list .vDateField {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.tooltip_content .vDateField {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}


#result_list .datetimeshortcuts .date-icon {
    background: url(../svg/calendar.svg);
}


#result_list .datetimeshortcuts a::after {
    content: ' choose';
    color: #1f2328;
}

#result_list .datetimeshortcuts a:hover::after {
    text-decoration: underline;
    color: #0969da;
}











