/* START BASIC SETUP */
* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 60px;
    min-height: 60px;
    padding: 0 10px; /* Added padding to the header container */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 13px;
    color: #1f2328;
    background-color: #f6f8fa;
    line-height: 1.5;
}

.header .slash {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.items {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    flex-wrap: nowrap;
    gap: 8px;
}

/* END BASIC SETUP */

/* Start Admin logo */
.admin-logo {
    width: 32px;
    height: 32px;
    transform: scale(1.2); /* Scale the logo by 10% */
    transform-origin: center;
}

/* End Admin logo */


/* Admin site link */
.admin-site {
    padding: 5px;
    transition: background-color 0.3s ease;
    border-radius: 0;
}

.admin-site a {
    color: #1f2328;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; /* Added padding transition */

}

.admin-site a:hover {
    text-decoration: none;
    background-color: #ebedf0;
    color: #1f2328;
    font-weight: 600;
    padding: 4px 4px;
}

/* End Admin site link */


/* Start User Change Exit link */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-element {
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.tooltip-element:hover {
    text-decoration: none;
    background-color: #ebedf0;
    color: #1f2328;
    padding: 4px 4px;
}

.tooltip:hover .tooltip-element, .tooltip:focus-within .tooltip-element {
    background-color: #ebedf0;
    color: #1f2328;
    padding: 4px 4px;
}

.tooltip-info {
    position: absolute;
    padding: 15px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(174, 180, 188, 0.7);
    z-index: 9999;
    text-align: left;
    color: #1f2328;
    background-color: #ffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease, left 0.3s ease;
    top: 140%;
    left: 40%;
    transform: translateX(-10%);
    min-width: 250px;
    max-width: 300px;
    min-height: 50px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: inherit;
}

/* When hovering over the entire .tooltip container, show the tooltip-info */
.tooltip:hover .tooltip-info {
    opacity: 1;
    visibility: visible;
}

.tooltip-info::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #ffff transparent;
}

.tooltip-info::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(174, 180, 188, 0.7) transparent;
}

.tooltip-info a {
    all: unset; /* Resets all inherited styles */
    color: #1f2328;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 13px;
    text-transform: none;
}

.tooltip-info a:hover {
    color: #0969da;
}

.tooltip-info form button {
    all: unset; /* Resets all inherited styles */
    color: #1f2328 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-size: 13px !important;
    text-transform: none !important;
    font-weight: 400 !important; /* Ensure font-weight is normal (not bold) */
}

.tooltip-info form button:hover {
    color: #0969da !important;
}

.user-name {
    font-weight: 600;
    cursor: text;
}

/* End User Change Exit link */


/* Language toggle */

.language-button {
    border: none;
    background-color: #f6f8fa;
    color: #1f2328;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.language-button:hover {
    text-decoration: none;
    background-color: #ebedf0;
    color: #1f2328;
    padding: 4px 4px;
}

/* End Language toggle */






