#header {
    display: flex;
    align-items: center; /* This keeps items vertically centered */
    justify-content: flex-start; /* Aligns all items to the left */
    height: 40px;
    text-transform: none;
    background-color: #f6f8fa;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}


#header * {
    text-transform: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
}

#branding {
    display: flex;
    align-items: center;
}

#container #header #site-name {
    margin-inline-end: 15px;
    margin-top: 5px;
}

#container #header #user-tools {
    float: none;
    margin: 0;
    text-align: left;
    cursor: text;
    background-color: transparent;
    transition: background-color 0.3s ease; /* Smooth transition */
    padding: 5px 7px;
    border-radius: 0;
}

#container #header #user-tools:hover {
    background-color: #ebedf0;
    border-radius: 4px;
    padding: 5px 7px;
    color: #333;
}


#container #header #branding #admin-text {
    float: none;
    margin: 0;
    text-align: left;
    font-weight: 600;
}

#container #header #branding #slash {
    float: none;
    margin-right: 1px;
    margin-left: 8px;
    text-align: left;
}

.AppHeader-logo {
    width: 35px;
    height: 35px;
}



