.profile-link {
    font-size: 14px;
    color: #333 !important;
}

.profile-container {
    position: relative;
    display: inline-block;
}

#hover-card {
    cursor: text;
    position: absolute;
    box-sizing: border-box;
    width: 250px;
    min-width: 250px;
    height: 100px;
    border: 0.25px solid rgba(174, 180, 188, 0.7); /* 50% transparency */
    min-height: 100px;
    padding: 10px 15px;
    border-radius: 7px;
    left: 200%;
    top: 130%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}

#user-tools:hover #hover-card {
    visibility: visible;
    opacity: 1;
    bottom: -120%; /* Adjust this as needed */
}

#hover-card::before {
    content: "";
    position: absolute;
    left: 10%;
    top: -7px; /* Adjust this to position the arrow correctly */
    transform: translateX(-50%);
    border-width: 0 8px 8px 8px; /* Define the size of the arrow */
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
    z-index: 2;
}

#hover-card::after {
    content: "";
    position: absolute;
    left: 10%;
    top: -8px;
    transform: translateX(-50%);
    border-width: 0 9px 9px 9px;
    border-style: solid;
    border-color: transparent transparent rgba(174, 180, 188, 0.7) transparent; /* Border with 50% transparency */
    z-index: 1;
}

#hover-card * {
    display: block;
    margin: 2px;
    font-family: inherit;
}


#hover-card a {
    font-size: 14px;
    color: #333 !important;
    text-decoration: none;
    font-family: inherit;
}

#hover-card a:hover {
    color: #0969da !important;
    font-family: inherit;
}

#hover-card form button {
    font-size: 14px;
    color: #333 !important;
    text-transform: none;
    font-family: inherit;
}

#hover-card form button:hover {
    color: #0969da !important;
    font-family: inherit;
}

#user-name {
    font-weight: 600;
    font-family: inherit;
}